module

Bool : Type
Bool = {'yes | 'no }

IsTrue : Bool -> Type
IsTrue = split
           'yes -> []
           'no -> {}

iffliped : (a : Type) -> a -> a -> Bool -> a
iffliped _ x y = split
       	 'yes -> x
	 'no -> y

not : Bool -> Bool
not = split
  'yes -> 'no
  'no -> 'yes

if : (a : Type) -> Bool -> a -> a -> a
if a c x y = iffliped a x y c

true : Bool
true = 'yes

false : Bool
false = 'no
