\(params : let open import Leibniz
     in [Ind : Type;
         identify : Ind -o Ind -o Ind -- a linear function
         ; propIdentify : (x y ::1 Ind) -> -- a linear pi type
                Eq Ind (identify x y) x -- x can be used freely in the type even though its linear
         ]) -> module

open params
open import Leibniz

-- reject : Ind -o Ind
-- reject x = identify x x

accept : Ind -> Ind
accept x = identify x x
