module
open import Booleans

Maybe : Type -> Type
Maybe a =  [ tag : Bool
           ; content : if Type tag a []]


Just : Type -> Type
Just a = [ tag : Bool (= true) ; content : a]

just : (a : Type) -> a -> Just a
just _ x = ( tag = true, content = x)

nothing : (a : Type) -> Maybe a
nothing _ = (tag = false, content = ())

checkjustSubtype : (a : Type) -> a -> Maybe a
checkjustSubtype a x = just a x


-- checkJustSubtype : (a : Type) -> Just a -> Maybe a
-- checkJustSubtype a x = x
