module


selfSubtype : (A B : Type) -> (A /\ B) -> A /\ B
selfSubtype A B p = p

meetA : (A B : Type) -> (A /\ B) -> A
meetA A B p = p

meetAB : (A B : Type) -> (A /\ B) -> [fst : A; snd : B]
meetAB A B p = (fst = p, snd = p)


r1 : (A B : Type) -> A -> B -> [fst : A] /\ [snd : B]
r1 _ _ x y = (fst = x, snd = y)
